@charset "UTF-8";
/* CSS Document */


/*ici on a tout le code du background coloré qui change */
	/*ici on a tout le code du background coloré qui change */

element.style {
}
header[role=banner].header--dark {
    background: #000;
}
@media screen and (min-width: 45em)
[data-auth=false] header[role=banner] {
    height: 72px;
}
@media screen and (min-width: 45em)
header[role=banner] {
    position: fixed;
    height: 72px;
    min-height: 72px;
}
header[role=banner] {
    background: #fff;
    z-index: 500;
    height: 60px;
    width: 100vw;
    left: 0;
    top: 0;
    transition: background .25s;
}
.page-layout>* {
    width: 100%;
}
.pv8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.u-fixed {
    position: fixed;
}
article, aside, figure, footer, header, img, main, nav {
    display: block;
}
* {
    box-sizing: inherit;
}
user agent stylesheet
header {
    display: block;
}

	
